
/**
 * Magento logo.
 */

.logo[data-logo="Magento"] {
  width: 3.4416550441655045em;
}

.logo[data-logo="Magento"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="Magento"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="Magento"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}